body {
    height: 100%;
    margin: 0 0 0 0;
}

.page-1, .page-2, .page-3 {
    width: 100%;
    height: 90vh;
}

.page-1 {
    background-color: #f8f8f8;
}

.page-2 {
    background-color: #fdfdfd;
    height: 70vh;
}

.page-3 {
    background-color: #f8f8f8;
    height: 70vh;
}

.text {
    position: absolute;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    color: #2a2a2a;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
}