body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
}


/*---------------------- nav-bar ----------------------*/
.nav-mob{
    width:100%;
    height: 30%;
    background-color: aqua;
    position: fixed;
    z-index: 100;
    top:0;
}
.menu-mob{
    width:100%;
    height: 100%;
    padding-top: 2%;
}
.nav-mob ul{
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}
.nav-mob li{
    padding: 0 0 0 0;
    list-style: none;
    text-align: center;
    height: auto;
    margin-top: 2%;
}

.nav-full{
    width:100%;
    height: 10%;
    background-color: coral;
}
.logo{
    width:25%;
    height:100%;
    float:left;
    background-color: aliceblue;
    color: blueviolet;
}
.menu{
    width:75%;
    height:100%;
    background-color: aquamarine;
    float:left;
}
.menu ul{

    padding: 0 0 0 0;
    margin-left: 40%;
}
.menu li {
    padding: 0 2% 0 2%;
    display: inline-block;
    width:11%;
    height:100%;
    text-align: right;
    list-style: none;
    font-size: 1em;
    position: relative;
    right:2%;
}

/*---------------------------- 1 scr ------------------------------------*/
.first-scr-mob{
    width: 100%;
    height:70%;
    background-color: cadetblue;
    text-align: center;
    font-size: 3em;
    margin-top: 27%;/*<-------------------------исправить когда меню будет норм*/
}
.title-mob-p1{
    font-size: 1.5em;
    padding-top: 15%;
}
.button-mob-p1{
    border: solid #FFf 1px;
    font-size: 0.5em;
    width:38%;
    margin-top: 5%;
    margin-left: 31%;
    padding: 2px 1px 2px 1px;
}


.first-scr{
    width: 100%;
    height:70%;
    background-color: cadetblue;
    text-align: center;

}
.title-p1{
    font-size: 5em;
    padding-top: 10%;
}
.button-p1{
    border: solid #FFf 1px;
    font-size: 2em;
    width:20%;
    margin-top: 5%;
    margin-left: 40%;
    padding: 5px 3px 5px 3px;
}



/*---------------------------- service ------------------------------------*/
.services-mob{
    width: 100%;
    height:70%;
    background-color: bisque;
}
.title-mob-p2{
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
}
.services-block{
    width: 100%;
    height: 53%;
    font-size: 1.5em;
    text-align: center;
}
.services-block div {
    height: 50%;
    width: 33.33%;
    padding-top: 15%;
    float: left;
}
.block1{background-color: blueviolet}
.block2{background-color: sandybrown}
.block3{background-color: olive}
.block4{background-color: turquoise}
.block5{background-color: hotpink}
.block6{background-color: darkkhaki}


.services-slider{
    width: 100%;
    height:70%;
    background-color: bisque;
}
.title-p2{
    font-size: 3em;
    padding-top: 3%;
    text-align: left;
    margin-left: 5%;
}
.slider{
    width: 100%;
    height: 52.5%;
    font-size: 5em;
    text-align: center;
}
.slider div{
    width:16.6666%;
    height: 100%;
    float: left;
    padding-top: 10%;
}
.sl1{background-color: brown;}
.sl2{background-color: darkgrey;}
.sl3{background-color: crimson;}
.sl4{background-color: dodgerblue;}
.sl5{background-color: greenyellow;}
.sl6{background-color: deeppink;}

/*---------------------------- methods ------------------------------------*/
.methods-mob{
    width: 100%;
    height:70%;
    background-color: cadetblue;
    text-align: center;
    font-size: 3em;
}

.methods-full{
    width: 100%;
    height:80%;
    background-color: cadetblue;
}
.title-p3{
    font-size: 3em;
    padding-top: 3%;
    text-align: left;
    margin-left: 5%;
}
.methods-container{
    width:100%;
    height: 49%;
    font-size: 2em;
    text-align: center;
}
.methods-container div{
    width: 30%;
    height: 50%;
    float: left;
    padding-top: 7%;
}
.icon-block1{
    background-color: darkblue;
    margin-left: 5%;
}
.icon-block2{background-color: darkgreen;}
.icon-block3{
    background-color: darkslateblue;
    margin-right: 5%;
}
.icon-block4{
    background-color: darkseagreen;
    margin-left: 5%;
}
.icon-block5{background-color: darkmagenta;}
.icon-block6{
    background-color: darkturquoise;
    margin-right: 5%;
}

/*---------------------------- news ------------------------------------*/
.news-mob{
    width: 100%;
    height:70%;
    background-color: bisque;
    text-align: center;
    font-size: 3em;
}

.news-full{
    width: 100%;
    height:70%;
    background-color: bisque;
    text-align: center;
    font-size: 7em;
}

/*---------------------------- footer ------------------------------------*/
.footer{
    width: 100%;
    height:30%;
    background-color: aqua;
    text-align: center;
    font-size: 7em;
}






@media screen and (max-width: 700px) {
    .nav-mob{display: block;}
    .first-scr-mob{display: block;}
    .services-mob{display: block;}
    .methods-mob{display: block;}
    .news-mob{display: block;}

    .nav-full{display: none;}
    .first-scr{display: none;}
    .services-slider{display: none;}
    .methods-full{display: none;}
    .news-full{display: none;}
    .footer{display: none;}
}
@media screen and (min-width: 701px) {
    .nav-mob{display: none;}
    .first-scr-mob{display: none;}
    .services-mob{display: none;}
    .methods-mob{display: none;}
    .news-mob{display: none;}

    .nav-full{display: block;}
    .first-scr{display: block;}
    .services-slider{display: block;}
    .methods-full{display: block;}
    .news-full{display: block;}
    .footer{display: block;}

}